@font-face {
  font-family: primaryFont;
  src: url("fonts/Futura\ Round.ttf");
}

@font-face {
  font-family: extraBoldFont;
  src: url("/fonts/Futura\ Round\ Cond\ Extra\ Bold.ttf");
}

body {
  background-image: url("/pictures/hero-home@large.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
.App {
  min-height: 100vh;
  background: rgba(101, 59, 201, 0.9);
  color: #ffffff;
  font-family: primaryFont;
  letter-spacing: 0.02rem;
}

h1 {
  text-transform: uppercase;
  font-family: extraBoldFont;
  font-size: 48px;
}

table,
.form-container {
  color: #ffffff !important;
  background: rgba(0, 0, 0, 0.24);
}

th {
  text-transform: uppercase;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  color: #ffffff;
}

button {
  border: none;
  background: none;
}

.addUserButton {
  position: absolute;
  top: 25px;
  right: 25px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.24);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
}

.addUserButton:hover {
  height: 62px;
  width: 62px;
  box-shadow: none;
}

.pagination > .active > a {
  color: white;
  background: rgba(101, 59, 201, 0.9) !important;
  border: solid 1px #ffffff !important;
}

.pagination > li > a {
  background: #ffffff;
  color: rgba(101, 59, 201, 0.9);
}

.loadingPicContainer {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: #653bc9;
}

.loadingPic {
  position: absolute;
  top: 20%;
  width: 230px;
  height: 230px;
  background-image: url("/pictures/pig.webp");
  background-repeat: no-repeat;
  background-size: contain;
}

.loadingText {
  font-family: extraBoldFont;
  font-size: 42px;
}

@media screen and (max-width: 650px) {
  .addUserButton,
  .addUserButton:hover {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    border-radius: 0;
  }
}
